.card-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/FeaturedStyles/portrait-of-beautiful-smiling-model-dressed-in-summer-hipster-jeans-shorts-clothes.jpg');
}

.card-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/FeaturedStyles/portrait-of-young-beautiful-hipster-bad-girl-in-trendy-red-hoodie-and-earring-in-her-nose-positive-model-licking-round-sugar-candy.jpg');
}

.card-3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/FeaturedStyles/portrait-of-young-beautiful-smiling-hipster-girl-in-trendy-summer-jeans-jacket-clothes.jpg');
}