.header {
    background-image: url('https://images.pexels.com/photos/4427816/pexels-photo-4427816.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor {
    height: 80vh;
}