.MoreToExplore-card-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/MoreToExplore/pexels-the-glorious-studio-5442455.jpg');
}

.MoreToExplore-card-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/MoreToExplore/pexels-min-an-1180035.jpg');
}

.MoreToExplore-card-3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/MoreToExplore/pexels-viktoria-alipatova-2098848.jpg');
}