.ProductSlider-card-5 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/ProductSlider/excited-ginger-lady-in-hat-holding-straw-bag-ecstatic-long-haired-girl-in-summer-outfit-enjoying-good-day.jpg');
}

.ProductSlider-card-3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/ProductSlider/graceful-woman-in-trendy-skirt-dancing-with-hands-up-studio-shot-of-romantic-curly-girl-having-fun-on-yellow-background.jpg');
}

.ProductSlider-card-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/ProductSlider/magnificent-female-model-in-midi-skirt-dancing-and-laughing-on-pink-wall-excited-caucasian-woman-in-blue-clothes-expressing-positive-emotions.jpg');
}

.ProductSlider-card-4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/ProductSlider/young-woman-wearing-fashionable-clothes.jpg');
}

.ProductSlider-card-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/ProductSlider/fashionable-girl-with-braid-posing-indoors-in-black-hat-and-ragged-jeans-pointing-her-finger-at-t-shirt.jpg');
}