.TrendingNow-card-1 {
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/TrendingNow/fashionable-pale-brunette-in-long-green-dress-black-jacket-and-sunglasses-standing-on-street-during-daytime-against-wall-of-light-city-building.jpg');
}

.TrendingNow-card-2 {
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/TrendingNow/lovely-young-parisian-woman-with-brunette-hair-in-stylish-beret-beige-trench-coat-and-black-bag-standing-on-old-stairs-and-sensitively-posing-outdoors.jpg');
}